.input-wrapper{
    /* margin-top: 1rem; */
    display: grid;
    font: var(--body-Xs);
    
    
    & input {
        padding: 1rem;

        color: white;
        
        &:invalid {
            border: 1px solid var(--danger);
        }
    
        &:valid + .error {
            display: none;
        }
        
    border: 1px solid var(--input-stroke);
    max-width: 35rem;
    height: 3rem;
    background-color: var(--input-base);
    border-radius: .5rem;

 

    &::placeholder {
        font: var(--body-Md);
        color: var(--input-placeholder);
    }

}

}


input[type="datetime-local"]{
    
    text-transform: uppercase;
    font: var(--body-Md);
    color: var(--input-placeholder);
    padding: 1rem;

 &::-webkit-calendar-picker-indicator {
    opacity: 0;
}

}




label {
    margin-top: 1rem;   
    margin-bottom: .75rem;

    font: var(--body-Md);
    color: var(--text-body);

}

input[type="radio"] {
    opacity: 0;
}