.radio-container {
    margin-top: 1rem;
}

.radio-wrapper {
    border: 1px solid;
    margin-top: .75rem;
    border: 1px solid var(--input-stroke);


    max-width: 17rem;
    height: 3rem;
    background-color: var(--input-base);
    border-radius: .5rem;

    svg {
        position: relative;
        top: 7px;
        width: 1rem;
    }

}

.radio-inner {
    display: flex;
    gap: .37rem;
    margin-left: 1.43rem;

}

.radio-box{

    label {
        position: relative;
        bottom: 2px;
    }
    
    &:has(:checked) {
        background-color: var(--input-stroke);
        margin: .25rem;
        border-radius: .25rem;

        .radio-inner {
            position: relative;
            bottom: 4px;
            font-weight: 700;
        }

        svg path {
            stroke: var(--brand-mid);
        }
    }

}


.radio-flex input[type="radio"] {
    position: absolute; 
    inset: 0;
    opacity: 0; 
    cursor: pointer; 
}


.radio-color {

    .radio-flex {
        background-color: var(--shape-button); 
        border-radius: 50%;

        
  
          &:hover, &:focus-within {
            inset: 0;
            border: 1px solid var(--input-stroke);
            background-color: var(--input-stroke);
        }
        
        &:has(:checked) {
            outline: .125rem solid var(--brand-light);
        }
    }
    
}


.radio-flex {
    position: relative;
}

.radio-options{
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    
     .radio-light {
        background-color: var(--brand-light);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-navy {
        background-color: var(--navy);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-purple {
        background-color: var(--purple);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-fuschia {
        background-color: var(--fuschia);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-pink {
        background-color: var(--pink);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-danger {
        background-color: var(--danger);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-orange {
        background-color: var(--orange);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-yellow {
        background-color: var(--yellow);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-lime {
        background-color: var(--lime);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-green {
        background-color: var(--green);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .radio-cyan {
        background-color: var(--cyan);
        margin: .375rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    
}


.no-style {
    all: unset; /* Remove todos os estilos aplicados */
}
      



.radio-theme input[type="radio"] {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
}

.radio-theme {
    position: relative;
    text-align: center;
    

    margin-top: 1rem;
    width: 8.37rem;
    height: 6.43rem;
    background-color: var(--shape-button);
    border-radius: .5rem;


    img {
        
        margin: .25rem;
        margin-top: .25rem;
        margin-bottom: .5rem;
        width: 7.87rem;
    }

    &:has(:checked) {
        outline: .125rem solid var(--brand-light);
    }
}

