h2 {
    font: var(--Heading-Md);
    color: var(--text-heading);

    margin-bottom: 2.5rem;
}

fieldset {
    border: none;
}

legend {

    display: flex;
    align-items: center;
    gap: .75rem;
    
    font: var(--Heading-sm);
    color: var(--text-heading);
    margin-bottom: .56rem;

    img{
        width: 1.5rem;
    }
}

legend + .radio-color {
    margin-top: 1.5rem;
}

.texarea-wrapper {
    margin-top: 1rem;

    
    & textarea {
        padding: 1rem;

        margin-top: .75rem;
        margin-bottom: 3rem;
        max-width: 35rem;
        height: 3rem;
        border-color: var(--input-stroke);
        border-radius: .75rem;
        width: 35rem;
        height: 8.5rem;
        background-color: var(--input-base);

        color: white;
        
        &::placeholder {
            font: var(--body-Md);
            color: var(--input-placeholder);
        }
        
    }

}

