.flex {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.radio-flex {
    display: flex;
    justify-content: center;
    gap: .25rem;
}


.radio-options {
    display: flex;
    gap: .75rem;
}


small {
    position: relative;
    bottom: 4px;
    color: var(--danger);
    max-width: 1rem;
}

.error {
    display: flex;
    gap: .5rem;

    img {
        margin-top: .5rem;
        width: 1rem;
        color: var(--danger);
    }

    span {
        position: relative;
        top: .5rem;
        font: var(--body-Xs);
        color: var(--danger);
    }
}


.radio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.theme-style {
    margin-top: 1.75rem;
}

.contact {
    & legend {
        position: relative;
        top: 3rem;
        margin-bottom: 3.5rem;
    }
}